* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #3c607b;
}

.title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Iso", sans-serif;
  font-size: 60px;
  background-color: #4e54c8;
  color: #b7d3ee;
  box-shadow: 5px 5px #b7d3ee;
}

.nav {
  width: auto;
}

.flex-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  height: auto;
  width: auto;
}

.player1 {
  border: 5px;
  border-radius: 10px;
  border-style: ridge;
  box-shadow: 2px 2px black;
  border-color: rgb(111, 190, 190);
  text-align: left;
  font-family: "Amatic SC";
  width: 250px;
  height: 100px;
}

.player2 {
  border: 5px rgb(111, 190, 190);
  border-radius: 10px;
  box-shadow: 2px 2px black;
  border-style: ridge;
  align-items: center;
  width: 250px;
  font-family: "Amatic SC";
  height: 100px;
}

#player {
  font-size: 20px;
  font-family: "Orbitron";
  font-weight: 900;
}

.pinfo {
  padding-top: 20px;
  font-size: 25px;
  font-family: "Indie Flower";
}

.sc {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  font-size: 20px;
}

.rolltext {
  display: inline;
  float: left;
  font-family: "Indie Flower";
  font-size: 25px;
}

.rollflex {
  display: flex;
  padding-top: 15px;
  padding-left: 10px;
  justify-content: left;
  align-items: center;
}

#score1,
#score2 {
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 10px;
}

#result1,
#result2 {
  font-size: 25px;
  font-family: sans-serif;
  padding-left: 10px;
}

.message {
  padding: 10px;
  font-size: 25px;
  font-family: "Amatic SC";
  font-weight: bold;
}

.res {
  padding: 5px;
  position: relative;
  top: 100px;
}

#reset {
  font-size: 15px;
  background-color: rgba(255, 255, 255);
  font-weight: 100;
  height: 40px;
  width: 150px;
  font-family: "Orbitron";
  color: black;
  border-radius: 10px;
  border: none;
  transition-duration: 0.3s;
  cursor: pointer;
}

#reset:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
}

.container {
  align-items: center;
}
